<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇</title>

</head>
<body>
    <h1>mainPage - JPA테이블 관계 예제</h1>

    <h3>1.학생과 학교</h3>
    <!--
    JPA에서 테이블을 연결해서 사용하는
    어노테이션
    1. JoinColumn(name=외래키로 사용할 컬럼명)
    2. Many-To-One
    3. One-To-Many
    4. One-To-One
    5. Many-To-Many

    -->
    <h3>2.주문과 고객</h3>
    <h3>3.게시글과 댓글</h3>
    <!--  여러개의 댓글이 하나의 게시글에 속할 수있는
    관계를 설정하는 엔티티를 작성 -->

</body>
</html>