{{>./layout/header}}

{{#article}}
<form class="container p-5" action="/articles/{{id}}/updatePro" method="POST">
		<input type="hidden" value="{{id}}"/>
		<div class="mb-3">
	 		<label for="title" class="form-label">제목</label>
	 		<input type="text" class="form-control" id="title" name="title" value="{{title}}"/>
		</div>
		<div class="mb-3">
	 		<label for="content" class="form-label">내용</label>
			<textarea class="form-control" id="content" rows="5" name="content" style="resize: none;">{{content}}</textarea>
		</div>
	
	<!-- 목록으로 돌아가기 -->
	<a href="/articles" class="btn btn-success">목록으로</a>

	<button type="submit" class="btn btn-primary">수정하기</button>
</form>
{{/article}}

{{>./layout/footer}}