.mainView {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#6229E8,#FF6F61);
    /*background: #6229E8;*/
}

.maintitleView {
    align-content: center;
    text-align: center;
    padding: 10px;
}

.maintitleView h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 20px;
}

.maintitleView button {
    background: white;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.chatIcon {
    width: 50px;
    height: 50px;
}