<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일명:thymeleafEx4.html </title>
</head>
<body>
    <h1>thymeleafEx4</h1>
    <h2>반복문</h2>

    <!--
    th:each 속성을 이용해서 반복
    배열,리스트,맵 ,set 자바의 모든 컬렉션
    타입은 가능하다.

    th:each=" 변수명 : ${여러저장하는변수}"
    th:text="${변수명}"
    -->

    <ul>
        <li th:each="item : ${items}"
            th:unless="${item == 'spring'}"
            th:text="${item}"></li>
    </ul>

    <h3> 리스트 가져와서 리스트 안에 데이터가 있다면 반복 이용해서 출력</h3>
    <ul>
        <li th:if="${items2.size() > 0}" th:each="item : ${items2}"
            th:text="${item}"></li>
        <li th:if="${items2.size() == 0}">데이터 없음</li>
    </ul>

    <ul th:if="${!#lists.isEmpty(items2)}">
        <li th:each="item : ${items2}" th:text="${item}"></li>
    </ul>
    <p th:if="${#lists.isEmpty(items2)}">데이터 없음</p>
    <!--
        isEmpty()
        - 타임리프에서 리스트와 관련된 여러가지 유용한 메서드를 제공하는 객체
          #lists.isEmpty(변수명)   // 리스트가 비었는지 확인
          #lists.size(변수명)      // 리스트 크기 확인

          # contains(list,value) : 리스트에 특정 value이 포함되어있는지 확인.
          # add(list,value)
          # remove(list,value)
          # strings : 문자와 관련된 처리를 하는 객체
          # dates : 날짜 시간 관련된 처리하는 객체
          # numbers : 숫자와 관련된 처리하는 객체
    -->

    <h3>Map</h3>

    <h4>[1]</h4>
    <ul>
        <li th:each="entry :${itemsmap}"
            th:text="${entry}"></li>
    </ul>

    <h4>[2]</h4>
    <ul>
        <li th:each="entry :${itemsmap}">
            <span th:text="'key : ' + ${entry.key}"></span>
            <br/>
            <span th:text="'value : ' + ${entry.value}"></span>
        </li>
    </ul>




</body>
</html>