{{>./layout/header}}

<!-- content -->
<div class="container p-3 m-3 border">

<h1 class="pageTitle">Member List</h1>
    <hr>

    <table class="table table-bordered mt-4">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/article/{{id}}" class="detail_link">{{title}}</a></td>
                <td>{{content}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>

    <div class="btnBox">
        <a href="/article/writePage" class="btn btn-warning" style="font-weight: bold;">글쓰기</a>
    </div>
</div>

{{>./layout/footer}}
