<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/board.css"> <!-- 스타일 시트 연결 -->
    <link rel="stylesheet" href="/css/pageNav.css">
</head>
<body>
<th:block th:replace="layout/header :: header"/>
<main class="container">
    <div class="pageTitle">
        <h1>게시판</h1>
        <div class="searchView">
            <form class="search" role="search" th:action="@{/board/search}" method="GET">
                <input type="radio" name="searchType" th:value="title" th:checked="${searchType == 'title'}">Title</input>
                <input type="radio" name="searchType" th:value="content" th:checked="${searchType == 'content'}">Content</input>
                <input type="radio" name="searchType" th:value="titleContent" th:checked="${searchType == 'titleContent'}">Title+Content</input>

                <div class="searchBox">
                    <input class="form-control" type="search" name="searchValue" placeholder="Search" aria-label="Search" th:value="${searchValue}">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <section>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Create Date</th>
                <th scope="col">Modify Date</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">

            <tr th:each="board : ${boardlist}">
                <td th:text="${board.idx}"></td>
                <td><a th:href="@{/board/detail/{id}(id=${board.idx})}"
                       th:text="${board.title}" class="detail_link">title</a></td>
                <td th:text="${board.content}">content</td>
                <td th:text="${#dates.format(board.create_date, 'yyyy/MM/dd')}">write date</td>
                <td th:text="${#dates.format(board.modify_date, 'yyyy/MM/dd')}">modify date</td>
            </tr>

            <tr th:if="${#lists.isEmpty(boardlist)}">
                <th colspan="5">
                    저장된 글이 없습니다.
                </th>
            </tr>
            </tbody>
        </table>
    </section>
    <th:block th:replace="layout/pageNav :: pageNav"/>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<th:block th:replace="layout/footer :: footer"/>
</body>
</html>