<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mainStyle.css"> <!-- 스타일 시트 연결 -->
    <link rel="stylesheet" href="/css/chatStyle.css">
</head>
<body>
<main>
    <section>
        <div class="mainView">
            <div class="chattingView position-absolute top-50 start-50 translate-middle">
                <th:block th:replace="layout/chatheader :: header"/>
                <!-- 채팅 헤더 끝 -->

                <!-- 채팅 콘텐츠 -->
                <div class="chat-content p-2">

                </div>
                <th:block th:replace="layout/chatfooter :: footer"/>
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>